/*
Description:  theme for Classes
Author:       J Neathawk
Author URI:   https://knighthawk0811.github.io
License: GPLv3
License URI: http://www.gnu.org/licenses/gpl.html
*/



/*--------------------------------------------------------------
selector {
	layout(position)
	
	content(text)
	
	design(background)
	
	other(z-index)
}
----------------------------------------------------------------
>>> COLORS:	  
----------------------------------------------------------------
:root {
  --color-variable: #ffffff;
}

----------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Universal
# General Elements
# Modal Navigation
# Navigation
# Header Area
# Content Area
# Footer Area
# Reusable Classes
# Other
# Templates
# Media Queries

--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Universal
--------------------------------------------------------------*/
html * {
    box-sizing: border-box;
}
/*--------------------------------------------------------------
# General Elements
--------------------------------------------------------------*/
body { 
	margin: 0;
}
/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
nav ul {
  color: red;
  list-style-type: square;
}

nav a:visited {
  color: purple;
}

nav a:hover {
  color: orange;
}

nav a:active {
  color: green;
}

/*--------------------------------------------------------------
# Header Area
--------------------------------------------------------------*/
header { 
	padding: 20px;
	background-color: #1ed2e6;
}
/*--------------------------------------------------------------
# Content Area
--------------------------------------------------------------*/
aside { 
	width: 30%;
	float: right;
}
main {
	width: 70%;
	float: left;
	padding: 10px;
	border-right: 1px solid blue;
}
/*--------------------------------------------------------------
# Footer Area
--------------------------------------------------------------*/
footer { 
	clear: both;
	background-color: blue;
	text-align: center;
}

/*--------------------------------------------------------------
# Reusable Classes
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Other
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Templates
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Media Queries
--------------------------------------------------------------*/
